### 1. Buatlah list berisi seluruh email pegawai yang ada di string data berikut.

In [7]:
data = '''booker12;rachel@example.com;9012;Rachel;Booker
grey07;grey@anatomy.com;2070;Laura;Grey
johnson81;johnson@johnson.and;4081;Craig;Johnson
jenkins46;mary@example.com;9346;Mary;Jenkins
smith79;jamie@example.com;5079;Jamie;Smith
looke13;looke@example.com;9012;Rachel;Looke
york07;york@anatomy.com;2070;Laura;York
sholeh05;sholeh@johnson.and;4081;Craig;Sholeh
vale46;vale@example.com;9346;Mary;Vale
tugtug79;tugtug@example.com;5079;Jamie;Tugtug'''

Contoh jawaban:
>['rachel@example.com', 'grey@anatomy.com', 'johnson@johnson.and', 'mary@example.com', 'jamie@example.com', 'looke@example.com', 'york@anatomy.com', 'sholeh@johnson.and', 'vale@example.com', 'tugtug@example.com']

['rachel@example.com', 'grey@anatomy.com', 'johnson@johnson.and', 'mary@example.com', 'jamie@example.com', 'looke@example.com', 'york@anatomy.com', 'sholeh@johnson.and', 'vale@example.com', 'tugtug@example.com']

Challenge Zone: apakah task di atas bisa diselesaikan dengan satu baris kode?

['rachel@example.com',
 'grey@anatomy.com',
 'johnson@johnson.and',
 'mary@example.com',
 'jamie@example.com',
 'looke@example.com',
 'york@anatomy.com',
 'sholeh@johnson.and',
 'vale@example.com',
 'tugtug@example.com']

### 2. Buatlah list deck kartu yang berisi pasangan antara ```card_sleeve``` dan ```card_value```

contoh output: 
>['2 of ♣', '2 of ♦', '2 of ♥', '2 of ♠', '3 of ♣', '3 of ♦', '3 of ♥', '3 of ♠', '4 of ♣', '4 of ♦', '4 of ♥', '4 of ♠', '5 of ♣', '5 of ♦', '5 of ♥', '5 of ♠', '6 of ♣', '6 of ♦', '6 of ♥', '6 of ♠', '7 of ♣', '7 of ♦', '7 of ♥', '7 of ♠', '8 of ♣', '8 of ♦', '8 of ♥', '8 of ♠', '9 of ♣', '9 of ♦', '9 of ♥', '9 of ♠', '10 of ♣', '10 of ♦', '10 of ♥', '10 of ♠', 'J of ♣', 'J of ♦', 'J of ♥', 'J of ♠', 'Q of ♣', 'Q of ♦', 'Q of ♥', 'Q of ♠', 'K of ♣', 'K of ♦', 'K of ♥', 'K of ♠', 'A of ♣', 'A of ♦', 'A of ♥', 'A of ♠']

In [10]:
card_sleeve = ['♣','♦','♥','♠']
card_value = ['2','3','4','5','6','7','8','9','10','J','Q','K','A']

['2 of ♣', '2 of ♦', '2 of ♥', '2 of ♠', '3 of ♣', '3 of ♦', '3 of ♥', '3 of ♠', '4 of ♣', '4 of ♦', '4 of ♥', '4 of ♠', '5 of ♣', '5 of ♦', '5 of ♥', '5 of ♠', '6 of ♣', '6 of ♦', '6 of ♥', '6 of ♠', '7 of ♣', '7 of ♦', '7 of ♥', '7 of ♠', '8 of ♣', '8 of ♦', '8 of ♥', '8 of ♠', '9 of ♣', '9 of ♦', '9 of ♥', '9 of ♠', '10 of ♣', '10 of ♦', '10 of ♥', '10 of ♠', 'J of ♣', 'J of ♦', 'J of ♥', 'J of ♠', 'Q of ♣', 'Q of ♦', 'Q of ♥', 'Q of ♠', 'K of ♣', 'K of ♦', 'K of ♥', 'K of ♠', 'A of ♣', 'A of ♦', 'A of ♥', 'A of ♠']

Challenge Zone: apakah task di atas bisa diselesaikan dengan satu baris kode?

### 3. Buatlah function untuk mengecek apakah pegawai dengan nama tertentu ada di ```employee_data```, 

jika ada print dengan format:

>Nama: abc def<br>
Email: abc@abc.cba

In [18]:
employee_data = '''booker12;rachel@example.com;9012;rachel booker
grey07;grey@anatomy.com;2070;laura grey
johnson81;johnson@johnson.and;4081;craig johnson
jenkins46;mary@example.com;9346;mary jenkins
smith79;jamie@example.com;5079;jamie smith
looke13;looke@example.com;9012;rachel looke
york07;york@anatomy.com;2070;laura york
sholeh05;sholeh@johnson.and;4081;craig sholeh
vale46;vale@example.com;9346;mary vale
tugtug79;tugtug@example.com;5079;jamie tugtug'''

def employee_is_exist(searched_name):
    ...

employee_is_exist('looke')

Nama: Rachel Looke
Email: looke@example.com

In [19]:
employee_is_exist('smith')

Nama: Jamie Smith
Email: jamie@example.com

In [20]:
employee_is_exist('tugtug')

Nama: Jamie Tugtug
Email: tugtug@example.com

In [24]:
employee_is_exist('jamie')

Nama: Jamie Smith
Email: jamie@example.com
Nama: Jamie Tugtug
Email: tugtug@example.com

### 4. Di dalam variabel ```student_score_data``` terdapat daftar nilai setiap mata pelajaran dari setiap siswa di kelas A. Siapa saja siswa yang ada di kelas A? Dan apa saja mata pelajaran yang mereka pelajari?

hint: gunakan tipe data kolektif yang elemennya tidak bisa duplikat

In [1]:
student_score_data = '''Tono,Matematika,100
Tuti,Matematika,34
Rosi,Matematika,78
Aldo,Matematika,86
Tono,English,73
Tuti,English,99
Rosi,English,63
Aldo,English,82
Tono,Biologi,67
Tuti,Biologi,97
Rosi,Biologi,72
Aldo,Biologi,81
Tono,Fisika,91
Tuti,Fisika,76
Rosi,Fisika,77
Aldo,Fisika,83
Tono,Olahraga,72
Tuti,Olahraga,74
Rosi,Olahraga,97
Aldo,Olahraga,91'''

{'Tuti', 'Tono', 'Rosi'}
{'English', 'Fisika', 'Biologi', 'Matematika'}

## 5. Buat dictionary dengan key nama siswa, dan value berisi rata-rata nilai siswa tersebut

In [6]:
# Nama siswa
student = set([student_score.split(',')[0] for student_score in student_score_data.split('\n')])

score_dict = {}

# Tuliskan kode untuk mengisi dictionary score_dict sesuai soal

score_dict

{'Rosi': 77.4, 'Aldo': 84.6, 'Tono': 80.6, 'Tuti': 76.0}

### 6. Buat function untuk melakukan enkripsi password dengan langkah-langkah sebagai berikut:

1. Dapatkan nomor ASCII code dari setiap huruf dengan menggunakan fungsi ```ord()```.
2. Hitung sisa pembagian (modulo) dari nomor ASCII code dari langkah a dengan panjang variabel str_1.
3. Gunakan sisa pembagian (modulo) dari langkah b sebagai index untuk mengambil karakter hasil enkripsi dari  str_1.

Untuk mengetes fungsi yang Anda buat: 
* apabila passwordnya adalah ```password```, hasil enkripsinya menjadi ```YJ226X1M```
* apabila passwordnya adalah ```abcd1234```, hasil enkripsinya menjadi ```JKLMXYZ1```

In [ ]:
def password_encryptor(password):
    str_1 = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890"

    encrypted_password = '' # String kosong untuk menampung password hasil enkripsi

    # Tuliskan kode Anda di sini
    return encrypted_password

In [ ]:
password_encryptor('password')

'YJ226X1M'

In [ ]:
password_encryptor('abcd1234')

'JKLMXYZ1'

### 7. Berikut ini adalah pesan yang dituliskan dalam kode di variabel ```myst_nums```. Untungnya pemilik pesan telah menyediakan 3 dictionary ```dict1```, ```dict2```, dan ```dict3``` untuk menerjemahkannya. Bisakah Anda menerjemahkan pesan tersebut?

In [18]:
# Run this code cell to create the variables
# mysterious numbers
myst_nums = "2658 8503 2582 3035 9951 5535 1763 5552 2276 2079 4906 2658 293 2582 3407 786 6164 3279 3825 595 4975 6152 1974 7262 7262 2070 1861 6055 9735 1398 183 7262 7708 3284 4175 2908 8000 9364 4979 2070 1861 6055 9735 8590 4691 4979 8618 4161 9302 4979 7840 7262 3589 3589 9817 5372 7278 3522 2890 7206 8258 2037 8445 1076 7853 5400 8159 4505 8364 8258 1258 2738 4527 8258 2635 6049 5576 6798 9432 9290 4362 8258 6142 978 9198"

# first look up dictionary
dict1 = {6152: 'then', 9302: 'till', 9735: 'much', 1398: 'a', 8618: 'was', 3284: 'out', 7262: 'you', 1974: "there's", 4979: 'i', 4161: 'lost', 9364: 'crowds', 1861: 'feel', 7840: 'found', 183: 'stranger', 8590: 'in', 8000: 'the', 6055: 'that', 2070: "don't", 4691: 'danger', 4175: 'from', 7708: 'stand', 2908: 'all'}
# second look up dictionary
dict2 = {3279: 'when', 595: 'none', 2276: 'no', 1763: 'streets', 3407: 'tryna', 3825: "there's", 3035: 'fighting', 4906: 'ground', 293: 'just', 5552: 'with', 2582: 'strangers', 2658: "we're", 9951: 'in', 5535: 'the', 6164: 'release', 2079: 'common', 4975: 'around', 8503: 'all', 786: 'find'}
# third look up dictionary
dict3 = {9432: 'me', 3589: 'baby,', 5576: 'baby', 4505: 'not', 6142: 'can', 2738: 'is', 5372: 'you', 9817: "won't", 8258: 'i', 8445: 'really', 7853: 'stay', 6798: 'hold', 9198: 'breathe', 7278: 'please', 5400: 'if', 7206: 'me?', 6049: 'you,', 4362: 'so', 3522: 'come', 1258: 'know', 2635: 'need', 8159: "you're", 978: 'finally', 1076: 'wanna', 4527: 'that', 2890: 'rescue', 2037: "don't", 9290: 'close', 8364: 'all'}