In [83]:
import pandas as pd

# Latihan 1 

Sumber data : Boston Housing

In [ ]:
boston = pd.read_excel("https://github.com/mofdac/-materi-das/raw/main/01.%20Python%20for%20DA/latihan/Boston_Housing.xlsx")
boston.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

## 1. Tampilkan Informasi Statistik Seperti Mean, Median,Std, dll dari dataset diatas

## 2. Apa saja tipe data yang ada dari dataframe diatas

## 3.  Terdapat Berapa Kolom dan baris data diatas ?

## 4. Kolom manakah yang memiliki standar deviasi paling tinggi dan berapa nilai standar deviasinya?

## 5. Buat copy dataframe boston menjadi dataframe baru yang diberi nama top_boston. Ketentuannya ambil baris dengan nilai kolom "CRIM" 10 Terbesar. Tampilkan hanya Kolom "CRIM, DIS, MEDV, dan LSTAT" saja dan urutkan index barisnya

# Latihan 2 
Sumber data : Sales_June_2019.csv dan Sales_July_2019.csv

In [ ]:
sales_june = pd.read_csv("https://github.com/mofdac/-materi-das/raw/main/01.%20Python%20for%20DA/latihan/Sales_June_2019.csv")
sales_july = pd.read_csv("https://github.com/mofdac/-materi-das/raw/main/01.%20Python%20for%20DA/latihan/Sales_July_2019.csv")
print(sales_june.shape)
display(sales_june.head())
print(sales_july.shape)
display(sales_july.head())

(13599, 6)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,209921.0,USB-C Charging Cable,1.0,11.95,06/23/19 19:34,"950 Walnut St, Portland, ME 04101"
1,209922.0,Macbook Pro Laptop,1.0,1700.00,06/30/19 10:05,"80 4th St, San Francisco, CA 94016"
2,209923.0,ThinkPad Laptop,1.0,999.99,06/24/19 20:18,"402 Jackson St, Los Angeles, CA 90001"
3,209924.0,27in FHD Monitor,1.0,149.99,06/05/19 10:21,"560 10th St, Seattle, WA 98101"
4,209925.0,Bose SoundSport Headphones,1.0,99.99,06/25/19 18:58,"545 2nd St, San Francisco, CA 94016"

(14336, 6)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,222910.0,Apple Airpods Headphones,1.0,150.00,07/26/19 16:51,"389 South St, Atlanta, GA 30301"
1,222911.0,Flatscreen TV,1.0,300.00,07/05/19 08:55,"590 4th St, Seattle, WA 98101"
2,222912.0,AA Batteries (4-pack),1.0,3.84,07/29/19 12:41,"861 Hill St, Atlanta, GA 30301"
3,222913.0,AA Batteries (4-pack),1.0,3.84,07/28/19 10:15,"190 Ridge St, Atlanta, GA 30301"
4,222914.0,AAA Batteries (4-pack),5.0,2.99,07/31/19 02:13,"824 Forest St, Seattle, WA 98101"

## 6. tampilkan berapa data null untuk masing-masing kolom

## 7. Gabungkan kedua data diatas dan beri nama "df_sales" dataframe barunya

## 8. cek dan hapus data dengan nilai null

## 9. Tampilkan 10 produk dengan Nilai Penjualan Tertinggi Juni s.d. Juli (jangan lupa bikin kolom sales dan reset_index)

## 10. Export soal 9 ke dalam format csv, csv.nya diberi nama "top_10_product_sales.csv"

# Latihan 3

In [1]:
# Sumber data
url_diabetes_prevalence_data = 'https://raw.githubusercontent.com/mihoku/MoF-Training-Python-for-Data-Analytics/main/Day%202/DM_Province_Data.csv'

url_konsumsi_minuman_kemasan_data = 'https://raw.githubusercontent.com/mihoku/MoF-Training-Python-for-Data-Analytics/main/Day%202/DM_Province_Data.csv'

url_kepadatan_penduduk_data = 'https://raw.githubusercontent.com/mihoku/MoF-Training-Python-for-Data-Analytics/main/Day%202/Data_Kepadatan_Penduduk_Provinsi.csv'

## 11. Data konsumsi minuman kemasan adalah data di tingkat kabupaten/kota. Buat dataframe baru yang merupakan data konsumsi minuman kemasan per provinsi.

## 12. Gabungkan data prevalensi diabetes, data konsumsi minuman kemasan, dan kepadatan penduduk (semuanya dalam provinsi), menjadi satu dataset