# PJJ Data Analytics Specialist : Materi Pemrograman Python

## Pendahuluan
Python merupakan bahasa pemrograman yang banyak digunakan baik dalam pengembangan aplikasi web, REST API, scientific programming, hingga data science.

Python merupakan bahasa pemrograman yang dikembangkan oleh Guido Von Rossum pada tahun 1991. Python dapat dikenali dengan karakteristik berikut:


1.   Menggunakan interpreter
2.   Portable
3.   Object Oriented
4.   Interactive
5.   Interface
6.   Open source
7.   Mudah dipahami dan digunakan

Pemrograman adalah mengenai bagaimana memindahkan proses dan logika dalam pikiran kita ke dalam bentuk baris code yang dapat dijalankan.

Belajar pemrograman dimulai dari membentuk cara berpikir kita tentang program hingga cara menuliskan baris kode yang seusai.

Terdapat sebuah model berpikir tentang pemrograman yang disebut Sequence-Selection-Itteration.



1.   Sequence : Menjalankan beberapa perintah pada waktu tertentu secara berurutan;
2.   Selection : Menggunakan conditional statement semisal If else untuk menentukan operasi yang akan dilakukan pada berbagai kondisi yang berbeda;
3.  Iteration : Melakukan operasi yang sama secara berulang.



(Donald R. Sheehy, A First Course on Data Structure in Python)

## Data Structures

Python memiliki sejumlah struktur data. Struktur data dapat memuat banyak data bahkan dengan berbagai tipe data yang beragam. Struktur data berupa collection dalam pemrograman python adalah sebagai berikut:


1.   List
2.   Set
3.   Tuple
4.   Dictionary
5.   Deque
6.   Heap

List dan dictionary merupakan struktur data yang paling banyak digunakan.

### Strings
Strings adalah kumpulan karakter yang tersusun/ berurutan, digunakan untuk menyimpan teks.

Strings dapat digabung dan dipecah.

In [ ]:
txt1 = "Selamat datang"
txt2 = "pada pelatihan Python"

In [ ]:
txt3 = txt1 +" "+ txt2
print(txt3)

Selamat datang pada pelatihan Python

### List
List adalah kumpulan objek yang tersusun berurutan. List dapat berisi banyak objek dengan tipe data yang beragam. List dapat juga menampung banyak objek list lainnya.

In [ ]:
daftar1 = []
daftar1.append(1)
daftar1.append("Aris Budi S")

In [ ]:
from datetime import datetime
tgldaftar = datetime.strptime("07-07-2023","%d-%m-%Y")

In [ ]:
daftar1.append(tgldaftar)

In [ ]:
dfnilai = [100,90,95,85,98]
daftar1.append(dfnilai)

In [ ]:
daftar1

[1,
 'Aris Budi Santoso',
 datetime.datetime(2023, 7, 7, 0, 0),
 [100, 90, 95, 85, 98]]

In [ ]:
daftar1[1] = 'Aris Budi Santoso'

In [ ]:
daftar1

[1, 'Aris Budi Santoso']

In [ ]:
daftar2 = [['SD','SMP','SMU','DIII','DIV','S2'],['2c', '3a','3b']]

In [ ]:
daftar1.extend(daftar2)

In [ ]:
daftar1

[1,
 'Aris Budi Santoso',
 ['SD', 'SMP', 'SMU', 'DIII', 'DIV', 'S2'],
 ['2c', '3a', '3b']]

In [ ]:
#Mengurutkan List of integers
import random
lsrandom = [random.randint(a,100) for a in range(20)]

In [ ]:
lsrandom

[30, 4, 97, 29, 34, 12, 92, 90, 56, 98, 86, 85, 98, 53, 33, 29, 35, 73, 73, 57]

In [ ]:
lsrandom.sort()
lsrandom

[4, 12, 29, 29, 30, 33, 34, 35, 53, 56, 57, 73, 73, 85, 86, 90, 92, 97, 98, 98]

In [ ]:
sorted(lsrandom)

[4, 12, 29, 29, 30, 33, 34, 35, 53, 56, 57, 73, 73, 85, 86, 90, 92, 97, 98, 98]

In [ ]:
#Mengurutkan list of string
import string

In [ ]:
ranstrings = [''.join(random.choices(string.ascii_lowercase, k=5)) for a in range(100)]

In [ ]:
ranstrings[:10]

['pyjrn',
 'kjyqx',
 'ecybt',
 'asukh',
 'morzt',
 'xdtnj',
 'khlsj',
 'aoqoa',
 'rtzqe',
 'leoco']

In [ ]:
ranstrings.sort()

In [ ]:
ranstrings[:10]

['acbdv',
 'acpty',
 'aeyjc',
 'afiyv',
 'aoqoa',
 'asukh',
 'ayctj',
 'bbnps',
 'bpunn',
 'bzrmq']

### Set
Kumpulan objek tanpa ada duplikat nilai. Set bersifat tidak berurutan sesuai input. Set dapat berisi objek dengan tipe data beragam. Set bersifat tidak bisa diubah nilainya (immutable).

In [ ]:
set1 = {5,4,3,3,3,3}

In [ ]:
set1

{3, 4, 5}

In [ ]:
set1.add('a')

In [ ]:
set1.add(tgldaftar)

In [ ]:
set2 = {1,2,3}

In [ ]:
set3 = set1.union(set2)

In [ ]:
set3

{1, 2, datetime.datetime(2023, 7, 7, 0, 0), 3, 4, 5, 'a'}

In [ ]:
set1.update('A')

In [ ]:
set1

{datetime.datetime(2023, 7, 7, 0, 0), 3, 4, 5, 'A', 'a'}

In [ ]:
set3

{1, 2, datetime.datetime(2023, 7, 7, 0, 0), 3, 4, 5, 'a'}

### Dictionary
Dictionary merupakan kumpulan objek yang berupa pasangan key dan value. Key harus berupa nilai yang unik dan namun value tidak harus unik dan dapat berupa objek dengan berbagai tipe data. Key bersifat immutable/ tidak dapat diubah.

In [ ]:
dict1 = dict()
dict1['SD'] = 'Sekolah Dasar'
dict1['SMP'] = 'Sekolah Menengah Pertama'
dict1['SMA'] = 'Sekolah Menengah Atas'
dict1['DIII'] = 'Diploma III atau Akademi'

In [ ]:
dict1

{'SD': 'Sekolah Dasar',
 'SMP': 'Sekolah Menengah Pertama',
 'SMA': 'Sekolah Menengah Atas',
 'DIII': 'Diploma III atau Akademi'}

In [ ]:
dict1.get('SMP')

'Sekolah Menengah Pertama'

In [ ]:
dict1['SMA'] = 'Sekolah Menengah Tingkat Atas'

In [ ]:
dict1

{'SD': 'Sekolah Dasar',
 'SMP': 'Sekolah Menengah Pertama',
 'SMA': 'Sekolah Menengah Tingkat Atas',
 'DIII': 'Diploma III atau Akademi'}

In [ ]:
dict1.pop('DIII')

'Diploma III atau Akademi'

In [ ]:
dict1

{'SD': 'Sekolah Dasar',
 'SMP': 'Sekolah Menengah Pertama',
 'SMA': 'Sekolah Menengah Tingkat Atas'}

In [ ]:
# Membuat dictionary dengan menggunakan random string
dicran = dict()
for k in range(10):
  v = ''.join(random.choices(string.ascii_lowercase, k=5))
  dicran[k] = v

In [ ]:
dicran

{0: 'twqnd',
 1: 'ydwlb',
 2: 'nhlui',
 3: 'hesvi',
 4: 'tmpnk',
 5: 'pvxln',
 6: 'juxaq',
 7: 'blvvv',
 8: 'fnfbx',
 9: 'hgvag'}

In [ ]:
# sort descending berdasarkan key
desckey = sorted(dicran.items(), key=lambda x:x[0], reverse=True)
desckey_dic = dict(desckey)

In [ ]:
desckey

[(9, 'hgvag'),
 (8, 'fnfbx'),
 (7, 'blvvv'),
 (6, 'juxaq'),
 (5, 'pvxln'),
 (4, 'tmpnk'),
 (3, 'hesvi'),
 (2, 'nhlui'),
 (1, 'ydwlb'),
 (0, 'twqnd')]

In [ ]:
# sort descending berdasarkan value
descval = sorted(dicran.items(), key=lambda x:x[1], reverse=True)
descval_dic = dict(descval)

In [ ]:
descval_dic

{1: 'ydwlb',
 0: 'twqnd',
 4: 'tmpnk',
 5: 'pvxln',
 2: 'nhlui',
 6: 'juxaq',
 9: 'hgvag',
 3: 'hesvi',
 8: 'fnfbx',
 7: 'blvvv'}

### Tuple
Tuple adalah kumpulan objek yang tersusun berurutan. Tuple bersifat immutable

In [ ]:
tup1 = (1,2,3,"a",tgldaftar)

In [ ]:
print(tup1)

(1, 2, 3, 'a', datetime.datetime(2023, 7, 7, 0, 0))

### Deque
Deque (doubly ended que) bentuk kumpulan data yang memiliki keunggulan lebih cepat dalam operasi menambahkan(append) dan menghilangkan(pop) dibandingkan List

In [ ]:
from collections import deque

In [ ]:
de = deque([1, 2, 3])

In [ ]:
de.append(4)

In [ ]:
de

deque([1, 2, 3, 4])

### Heap
Heap merupakan struktur data yang digunakan untuk kebutuhan antrian dengan prioritas

In [ ]:
import heapq

In [ ]:
ls = [5, 7, 9, 1, 3]

In [ ]:
heapq.heapify(ls)

In [ ]:
heapq.heappush(ls, 4)

## Control Flow

### Sequence

In [ ]:
var1 = 1
print("dari baris ke "+str(var1))
var1 = 2
print("dari baris ke "+str(var1))

dari baris ke 1
dari baris ke 2

### Selection

#### If Else

In [ ]:
cek = 'ada'
if(cek == 'ada'):
  print('ditemukan')
elif(cek == 'tidak ada'):
  print('tidak ditemukan')
else:
  print('tidak diketahui')

ditemukan

#### Match Case

In [ ]:
match cek:
  case "ada":
    print("ditemukan")
  case "tidak ada":
    print("tidak ditemukan")
  case _:
    print("tidak diketahui")

ditemukan

### Iteration/ Loop

#### Looping dari Data Berupa List

In [ ]:
for a in daftar1:
  print(a)

1
Aris Budi Santoso, SST, MTI
2023-07-07 00:00:00
[100, 90, 95, 85, 98]
['SD', 'SMP', 'SMU', 'DIII', 'DIV', 'S2']
['2c', '3a', '3b']

In [ ]:
for i in range(len(daftar1)):
  print(daftar1[i])

1
Aris Budi Santoso, SST, MTI
2023-07-07 00:00:00
[100, 90, 95, 85, 98]
['SD', 'SMP', 'SMU', 'DIII', 'DIV', 'S2']
['2c', '3a', '3b']

#### Looping Data Berupa Set

In [ ]:
for s in set1:
  print(s)

3
4
5
2023-07-07 00:00:00
A
a

#### Looping dari Data Berupa Dictionary

In [ ]:
for k,v in dict1.items():
  print(f"key : {k} dan value : {v}")

key : SD dan value : Sekolah Dasar
key : SMP dan value : Sekolah Menengah Pertama
key : SMA dan value : Sekolah Menengah Tingkat Atas

## Function
Function adalah objek yang dapat menerima input, melakukan operasi, dan menghasilkan output

### Simple Function

In [ ]:
def func1(a,b):
  out = (a**2 + b **2)**0.5
  return out

In [ ]:
func1(3,4)

5.0

### Anonymous Function

In [ ]:
(lambda a,b : (a**2 + b **2)**0.5)(3,4)

5.0

### Decorated Function

In [ ]:
import time
import math

# decorator to calculate duration
# taken by any function.
def calculate_time(func):

    # added arguments inside the inner1,
    # if function takes any arguments,
    # can be added like this.
    def inner1(*args, **kwargs):

        # storing time before function execution
        begin = time.time()

        func(*args, **kwargs)

        # storing time after function execution
        end = time.time()
        print(f"{func.__name__} total time taken in : {end - begin} s")

    return inner1

In [ ]:
@calculate_time
def factorial(num):

    # sleep 2 seconds because it takes very less time
    # so that you can see the actual difference
    time.sleep(2)
    print(math.factorial(num))

In [ ]:
# calling the function.
factorial(10)

3628800
factorial total time taken in : 2.0012662410736084 s

### Function in Iteration

In [ ]:
def square(x):
  return x**2

In [ ]:
ls = [a+1 for a in range(100)]

In [ ]:
len(ls)

100

In [ ]:
mapsquare = map(square, ls)

In [ ]:
lssquare = list(mapsquare)

In [ ]:
lssquare[:10]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Object Oriented Programming

#### Class

In [ ]:
class Orang:
  def __init__(self, nik, nama, usia):
    self.nik=nik
    self.nama=nama
    self.usia=usia
  def bicara(self):
    print(f"Perkenalkan saya {self.nama}")

#### Object

In [ ]:
jaka = Orang('12345678', 'jaka wibawa',40)

In [ ]:
jaka.nik

'12345678'

In [ ]:
jaka.bicara()

Perkenalkan saya jaka wibawa

### Pewarisan/ Inheritance

In [ ]:
class Pegawai(Orang):
  def __init__(self,nik, nama, usia, grade, jabatan):
    self.grade=grade
    self.jabatan=jabatan
    Orang.__init__(self,nik,nama,usia)

In [ ]:
peg_jaka = Pegawai('12345678','Jaka Wibawa',40,13,'Pranata Komputer')

In [ ]:
peg_jaka.bicara()

Perkenalkan saya Jaka Wibawa

In [ ]:
peg_jaka.jabatan

'Pranata Komputer'

## Multi Threading
Thread adalah bagian terkecil dari proses yang dijalankan oleh Sistem Operasi. Multi threading adalah mekanisme untuk menjalankan banyak thread secara bersamaan.

### Menggunakan Threading

In [ ]:
import threading
from math import sqrt

In [ ]:
inp = 20
def cek(n):
  for i in range(n):
    time.sleep(1)

In [ ]:
@calculate_time
def singlecek(inp):
  cek(inp)

In [ ]:
singlecek(20)

singlecek total time taken in : 20.02003312110901 s

In [ ]:
@calculate_time
def multicek(inp):
  t1 = threading.Thread(target=cek, args=(int(inp/2),))
  t2 = threading.Thread(target=cek, args=(int(inp/2),))
  t1.start()
  t2.start()
  t1.join()
  t2.join()
  print("done")

In [ ]:
multicek(20)

done
multicek total time taken in : 10.011112689971924 s

In [ ]:
nums = [(a, a+2) for a in range(100000)]

In [ ]:
def hitung(dt):
  out = [sqrt(tup[0]**2 + tup[1]**2) for tup in dt]
  return out

In [ ]:
@calculate_time
def single_proses(dt):
  hasil = hitung(nums)
  return hasil

In [ ]:
single_proses(nums)

single_proses total time taken in : 0.07531213760375977 s

In [ ]:
import threading
import sys


class ReturnValueThread(threading.Thread):
    def __init__(self, *args, **kwargs):
        super().__init__(*args, **kwargs)
        self.result = None

    def run(self):
        if self._target is None:
            return  # could alternatively raise an exception, depends on the use case
        try:
            self.result = self._target(*self._args, **self._kwargs)
        except Exception as exc:
            print(f'{type(exc).__name__}: {exc}', file=sys.stderr)  # properly handle the exception

    def join(self, *args, **kwargs):
        super().join(*args, **kwargs)
        return self.result

In [ ]:
@calculate_time
def doall(nums):
    thread1 = ReturnValueThread(target=hitung, args=(nums[:50000],))
    thread2 = ReturnValueThread(target=hitung, args=(nums[50000:],))
    thread1.start()
    thread2.start()
    result = thread1.join()
    result.extend(thread2.join())
    return result

In [ ]:
data = doall(nums)

doall total time taken in : 0.0883321762084961 s

### Menggunakan multiprocessing

In [ ]:
import multiprocessing
import time

def square(x):
	return x * x

In [ ]:
pool = multiprocessing.Pool()
pool = multiprocessing.Pool(processes=4)
inputs = [a for a in range(100)]
outputs = pool.map(square, inputs)
print("Input: {}".format(inputs))
print("Output: {}".format(outputs))

Input: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
Output: [0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801]

## Latihan

### 1. Buatlah list yang terdiri dari bilangan ganjil dari 1 hingga 1000
Gunakan looping dan if satement untuk menyelesaikannya

### 2. Buatlah list yang berisi kumpulan 1000 tuple. Setiap tuple berisi angka dan hasil kuadratnya secara berurutan
Gunakan looping dan function

### 3. Membuat dictionary dari 2 list
1. Buatlah list yang berisi 100 nilai integer secara random.

2. Kemudian, buatlah list yang berisi 100 string (8 karakter) yg dibentuk secara random.

3. Selanjutnya buatlah dictionary dengan keys dari list of integer pada langkah 1 dan values dari list of string pada langkah 2

4. Buat objek dictionary, gunakan looping, pada setiap iterasi set key dan value

5. Contoh hasil yang diharapkan {4 : 'abcdefgh', 2 : 'xhucdqrt', 6 : 'nbklbvmk'}

## Referensi

Donald R. Sheehy. A First Course on Data Structure in Python

Nelli, Fabio. 2015. Python Data Analytics

https://docs.python.org/3

https://www.geeksforgeeks.org/decorators-in-python/

https://alexandra-zaharia.github.io/posts/how-to-return-a-result-from-a-python-thread/